body{
     text-align: center;
}
h1{
    text-shadow: 2px 2px 5px rgb(0, 89, 255);

}
caption
{

    background-color: yellow;
    text-transform: uppercase;
}
table{
    text-align: center;
}
th{
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: rgb(0, 139, 19);
}
form{
    text-align: center;
}
*{
   
    margin: auto;
}
input[type=text]:focus {
   background-color: rgb(111, 235, 11);
  }
  p{
     
      font-size:x-large;
      font-style:normal;
  }
div>p{
      font-size:10vw;
      font-style: italic
  }
 






















