a {text-decoration: none;

    color: red;
 
}
caption
{
  background-color: rgb(5, 233, 5);
}

p
{

    text-align: center;
}
#amt
{
    direction: rtl;

}
legend
{
    text-transform: capitalize;
}
#form1
{
    text-shadow: 2px 2px 2px red;
}