body{
    background: #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.tabcontainer{
    border: 2px blue dotted;
}
.tab{
    display: inline-block;
    background: red;
    width: 100px;
    height: 50px
  
}
#tab1{
    background-color: lightgreen;
}
#tab3{
    background-color: rgb(144, 146, 238);
}
#tab4{
    background-color: cyan;
}
tab1:hover{
    background-color: lightgreen;
}
tab2:hover{
    background-color: red;
}
tab3:hover{
    background-color: lightgreen;
}
tab4:hover{
    background-color: cyan;
}



