a {text-decoration: none;

    color: red;
 
}
caption
{
  background-color: rgb(5, 233, 5);
}

p
{

    text-align: center;
}
#amt
{
    direction: rtl;

}
legend
{
    text-transform: capitalize;
}
#form1
{
    text-shadow: 2px 2px 2px red;
}
*{
    background-color: rgb(178, 216, 102);
}
.fontred{
    color: red;
}
.fontcaps{
    text-transform: uppercase;
}

div.fontgreen{
    color: green;
}
ol,p{
    text-transform:lowercase;

}
p.fontgreen{
    color: green;
    font-style: italic;
}
div p{
    background-color: blueviolet;
    font-style: normal;
}
div > p{
    font-style: italic;
}
div+p{
    font-size: x-large;

}
p ~ div{
    background-color: blanchedalmond;
}
table{
    margin: auto;
}
div.fontstyle{
   background-color: rgb(247, 247, 247);
    /*  font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 600;
    font-variant: small-caps;*/
    font-size:2em;
    background-color: aquamarine;


}
#color{
    background-color: rgba(240, 73 ,24, 1);
   /* background-color:  hsl(110,90%, 40%);
    background-color: greenyellow hsla(hue, saturation, lightness, alpha);
        /*  border: 2px dashed blue;*/
     border: 2px dotted blue;
       margin-left: 100px 20px 500px 100px;
       margin-top: 200px;
      padding:50px 20px 50px 20px ;

}

/*body{
    background-image:url(images/photo-1501183007986-d0d080b147f9.jpg);
    background-repeat:no-repeat ;
    background-size: 600px;
    background-attachment: fixed;
}
